@page
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model ChangePasswordModel
@{
    ViewData["Title"] = localizer["PageTitle"];
    //ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}
<link rel="stylesheet" href="~/css/Account/ProfileSettings.css" asp-append-version="true" />

<div class="container light-style flex-grow-1 container-p-y card-margin">
    <form id="change-password-form" method="post">

        <div class="row no-gutters row-bordered row-border-light">
            <div class="col-md-9">
                <div class="tab-content">

                    <div class="tab-pane fade active show">

                        <hr class="border-light m-0">

                        <div class="card-body">
                            <h4 class="font-weight-bold">@localizer["PageTitle"]</h4>
                            <hr />
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label class="form-label font-weight-bold">@localizer["OldPassword"]</label>
                                <input asp-for="Input.OldPassword" class="form-control" />
                                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="form-label font-weight-bold">@localizer["NewPassword"]</label>
                                <input asp-for="Input.NewPassword" class="form-control" />
                                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="form-label font-weight-bold">@localizer["ConfirmNewPassword"]</label>
                                <input asp-for="Input.ConfirmPassword" class="form-control" />
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-outline-primary">@localizer["UpdateButton"]</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}